// * {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
html {
    font-size: 62.5%;
    font-size: 63.0%;
    @extend .f-oswald;
}

body {
    margin: 0;
    font-weight: normal;
    background-color: $c-white;
    @extend .f-oswald;
}

a {
    @include transition(color 0.3s ease-in-out);
    @include transition(text-decoration 0.3s ease-in-out);
    &:hover {
        @include transition(color 0.3s ease-in-out);
        @include transition(text-decoration 0.3s ease-in-out);
    }
}


// displays
.inline-block {
    display: inline-block;
}

// cut to long text with 3 dots
.shorted-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// add black background and opacity to img




// global link which cover all content
.global-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.rotate90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.modal-link {
    cursor: pointer;
}

.margin-headline {
  margin-top: 75px;
}

.bg-white{
    background:$c-white;
}
.f-white{
    color:$c-white;
}
.bg-grey{
    background:$c-grey;
}
.f-grey{
    color:$c-grey;
}
.bg-blue1{
    background:$c-blue1;
}
.f-blue1{
    color:$c-blue1;
}
.bg-blue2{
    background:$c-blue2;
}
.f-blue2{
    color:$c-blue2;
}
.bg-blue3{
    background:$c-blue3;
}
.f-blue3{
    color:$c-blue3;
}
.bg-pink1{
    background:$c-pink1;
}
.f-pink1{
    color:$c-pink1;
}
.bg-pink2{
    background:$c-pink2;
}
.f-pink2{
    color:$c-pink2;
}
.bg-purple{
    background:$c-purple;
}
.f-purple{
    color:$c-purple;
}

.bg-dark{
    background:$c-dark;
}
.f-dark{
    color:$c-dark;
}

/* these are not necessary */

html {
    background-color:$c-white;
}

